<ion-view view-title="查看优惠机票">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="getNight()"></button>
    </ion-nav-buttons>
    <ion-content id="jipiao">
        <p>为您推荐机票/火车票+酒店自由行套餐</p>
        <div class="list">
            <label class="item item-input">
                <span class="">从&nbsp;&nbsp;</span>
                <input type="text" placeholder="深圳">
                <span class="input-label">06月18日 周六</span>
            </label>
            <label class="item item-input">
                <span class="">到&nbsp;&nbsp;&nbsp;</span>
                <input type="text" placeholder="输入目的地">
            </label>
            <label class="item-input-wrapper" style="background-color: #fff;">
                <i class="icon ion-android-add-circle placeholder-icon" style="background-color: #fff"></i>
                <input type="search" placeholder="添加目的地">
            </label>
            <a class="button button-full button-energized" style="margin-left: 0">搜索特价机票</a>
        </div>
    </ion-content>
</ion-view>