<ion-view view-title="您要去往哪儿">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="getNight()"></button>
    </ion-nav-buttons>
   <ion-content id="destination">
       <h5 style="margin-bottom: 0;margin-left:10px;line-height: 15px">毕业青春不散场</h5>
       <div class="row text_center">
           <div class="col">
               <img src="images/mdd1.jpg"  class="image">
               <span class="mask"><h4>丽江</h4> 来丽江遇见自己</span>
           </div>
           <div class="col">
               <img src="images/mdd2.jpg"  class="image">
               <span class="mask"><h4>厦门</h4> 让时间慢下来</span>
           </div>
       </div>
       <div class="row text_center">
           <div class="col">
               <img src="images/mdd3.jpg"  class="image">
               <span class="mask"><h4>桂林</h4> 三冬少雪,四季常花</span>
           </div>
           <div class="col">
               <img src="images/mdd4.jpg"  class="image">
               <span class="mask"><h4>海南</h4> 风光旖旎</span>
           </div>
       </div>

       <h5 style="margin-bottom: 0;margin-left:10px;line-height: 15px">初夏甜蜜出境</h5>
       <div class="row text_center">
           <div class="col">
               <img src="images/mdd5.jpg"  class="image">
               <span class="mask"><h4>日本</h4> 夏看碧海</span>

           </div>
           <div class="col">
               <img src="images/mdd6.jpg"  class="image">
               <span class="mask"><h4>韩国</h4> 神秘的东方之光</span>
           </div>
       </div>
       <div class="row text_center">
           <div class="col">
               <img src="images/mdd7.jpg"  class="image">
               <span class="mask"><h4>泰国</h4> 千佛之国</span>
           </div>
           <div class="col">
               <img src="images/mdd8.jpg"  class="image">
               <span class="mask"><h4>欧洲</h4> 蜜月新圣地</span>
           </div>
       </div>

       <h5 style="margin-bottom: 0;margin-left:10px;line-height: 15px">浪漫海岛出游季</h5>
       <div class="row text_center">
           <div class="col">
               <img src="images/mdd9.jpg"  class="image">
               <span class="mask"><h4>塞班岛</h4> 看不厌的海浪与白沙</span>
           </div>
           <div class="col">
               <img src="images/mdd10.jpg"  class="image">
               <span class="mask"><h4>马尔代夫</h4> 免签海岛-蜜月圣地</span>
           </div>
       </div>
       <div class="row text_center">
           <div class="col">
               <img src="images/mdd11.jpg"  class="image">
               <span class="mask"><h4>巴厘岛</h4> 我会听话的</span>
           </div>
           <div class="col">
               <img src="images/mdd12.jpg"  class="image">
               <span class="mask"><h4>毛里求斯</h4> 解放自己的秘密花园</span>
           </div>
       </div>
   </ion-content>
</ion-view>