<ion-view view-title="更新颖的玩法">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="getNight()"></button>
    </ion-nav-buttons>

    <ion-content id="lunbo">
        <ion-slide-box auto-play="true"
                       does-continue="true"
                       slide-interval="2000"
                       show-pager="true"
                       pager-click="pagerClick(index)"
                       active-slide="activeIndex">
            <ion-slide>
                <div class="pic">
                    <img src="images/cj1.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="pic">
                    <img src="images/cj2.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="pic">
                    <img src="images/cj3.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="pic">
                    <img src="images/cj4.jpg">
                </div>
            </ion-slide>
        </ion-slide-box>
        <ion-list>
            <a class="item item-thumbnail-left">
                <img src="images/jq1.jpg">
                <h2>马尔代夫</h2>
                <p>自助游5种玩法</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/jq2.jpg">
                <h2>黄山</h2>
                <p>自助游3种玩法</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/jq3.jpg">
                <h2>万里长城</h2>
                <p>自助游4种玩法</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/jq4.jpg">
                <h2>桂林</h2>
                <p>自助游6种玩法</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/jq5.jpg">
                <h2>西藏</h2>
                <p>自助游5种玩法</p>
            </a>
        </ion-list>

        <ion-list class="card">
            <div class="item item-body">
                <img class="full-image" src="images/medf.jpg">
                <div class="item tabs tabs-icon-left">
                    <a class="tab-item has-badge">
                        <i class="icon ion-thumbsup"></i> 赞 1177
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-thumbsdown"></i> 不赞 59
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-share"></i> 分享
                    </a>
                </div>
                <p style="margin-bottom: 5px">
                    马尔代夫梦幻岛Dhonveli4晚6日自助游>香港出发
                </p>
                <p style="margin-top: 0px">
                    <a class="subdued" style="font-size: 12px;">梦幻岛海滩以前以Tari 村庄而闻名，Tari 村庄是一个世界著名的冲浪胜地，拥有主办世界冲浪竞赛的特权。在梦幻岛，您所预订的事务都将被安排得像天堂中的婚礼一样。在这里还可以参加潜水课程，去马尔代夫的一些潜水胜地潜水。 Amaan Spa温泉提供健康和美容方面的相关治疗，给冲浪者特别推荐体育按摩（Sport Massage）， 放松紧绷的肌肉和身心。
                        梦幻岛意味着水晶白色的沙子。这个度假胜地是一个独自拥有的小海岛, 以他的美丽的热带风情、独特而地道的Maldivian建筑风格与大自然混为一体。梦幻岛职员会以他们的热情和友好帮助您实现您的愿望。在梦幻岛，您所预订的事务都将被安排得象天堂中的婚礼一样，杰出的度假胜地梦幻岛拥有最好的房间，配备了各种的便利设施。</a>
                </p>
            </div>
            <ion-item class="item item-body">
                <img class="full-image" src="images/mg.jpg">
                <div class="item tabs tabs-icon-left">
                    <a class="tab-item has-badge">
                        <i class="icon ion-thumbsup"></i> 赞 69
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-thumbsdown"></i> 不赞 88
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-share"></i> 分享
                    </a>
                </div>
                <p style="margin-bottom: 5px">
                    曼谷-芭提雅5晚6日游>深航直飞，芭堤雅3晚五星私家沙滩度假村
                </p>
                <p style="margin-top: 0px">
                    <a  class="subdued" style="font-size: 12px;">  有的人妖会表演中国歌曲，比如"潇洒走一回"，不知道这算不算他们的写照。表演结束之后，表演者会跑过来跟你合影，别忘了给小费哦，20泰铢差不多。   ★水上市场       damnueansaduak周末水上集市和恰图恰周末市场是曼谷两大必游地。damnueansaduak保持着泰国昔日水上集市的风貌，早上5时开始营业，最热闹的时段是在七八点，窄窄的河道上，满载五颜六色的果蔬和各式泰国传统小吃的小船穿行在河面上，叫卖声此起彼伏。别错过了30泰铢一碗的泰式粉丝汤，味道丝毫不亚于星级   ★路边大排档       走在曼谷的大街上，总会有海鲜烧烤的味道钻进你的鼻子，找个自己喜欢的摊位，点点海鲜，甭提多美了，但这的大排档的味道跟国内有点不一样，估计多吃几顿你会受不了。   ★看云彩       你或许只关注地上，但曼谷的天空其实很美，尤其是四五月份的时候，从下午开始，空中的云彩仿若仙岛，很厚实，让你觉得云里面"内容很丰富"，伸手便可摸到。   ★泰王五世行宫 柚木宫 Vimanmek Mansion วิมานเมฆ       即威曼美库宫殿，又称神仙殿，为拉玛五世（朱拉隆功王）日常生活的宫殿。1868年建成，1910年迁至现在的地址。从拉玛五世逝世后，宫殿未再使用。一直到1983年纪念曼谷建都200周年时，在现今的泰国王后的旨令下，宫殿才开始向公众开放。    宫殿为三层建筑，全部用柚木为材料修建，是世界上最大的金色柚木建筑，宫殿样式融西洋式和泰国传统建筑风格为一体，内饰精美，建造过程中没有使用过一根钉子。设计者是拉玛四世的儿子——纳里沙拉奴哇提翁亲王。宫殿内有展示世界各国餐具和生活用品的博物馆，共展出开放了31间展览室，卧室、盥洗室等都保留当年的原貌。</a>
                </p>
            </ion-item>
            <ion-item class="item item-body">
                <img class="full-image" src="images/bld.jpg">
                <div class="item tabs tabs-icon-left">
                    <a class="tab-item has-badge">
                        <i class="icon ion-thumbsup"></i> 赞 264
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-thumbsdown"></i> 不赞 1
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-share"></i> 分享
                    </a>
                </div>
                <p style="margin-bottom: 5px">
                    巴厘岛-蓝梦岛4晚5日游>醉美蓝梦岛出海
                </p>
                <p style="margin-top: 0px">
                    <a class="subdued" style="font-size: 12px;">在建于海中的活动平台上展开各项免费水上活动，艳阳下清澈的海水，可见到深达百尺以下的海景。无暇的阳光，独特的黑沙滩，为您展开一系列欢乐的海洋乐活之旅。无暇的阳光，独特的黑沙滩，为您展开一系列欢乐的海洋乐活之旅。阿勇河是巴厘岛最热门最受游人欢迎的漂流胜地。漂流的同时还可以欣赏两岸原始热带雨林风貌。</a>
                </p>
            </ion-item>
            <ion-item class="item item-body">
                <img class="full-image" src="images/db.jpg">
                <div class="item tabs tabs-icon-left">
                    <a class="tab-item has-badge">
                        <i class="icon ion-thumbsup"></i> 赞 1511
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-thumbsdown"></i> 不赞 23
                    </a>
                    <a class="tab-item">
                        <i class="icon ion-share"></i> 分享
                    </a>
                </div>
                <p style="margin-bottom: 5px">
                    大阪-京都-箱根-东京6日游>暑期亲子
                </p>
                <p style="margin-top: 0px">
                    <a class="subdued" style="font-size: 12px;">天神祭  每年7月24日和25日都要举行具有1050多年历史的天神祭。它和京都的袛园祭、东京的神天祭被誉为日本三大祭日之一。25日那一天在大川上有100多条大小船只穿梭来往。夜幕降临后，美丽的烟火会映红夜幕，真可谓是一场火与水的庆典。 举办地点：天满宫       财神节  在关西等地的很多神社举办的财神节中，以今宫戎神社的规模尤为盛大，每年有100万香客前来祈求生意兴隆和生活幸福。在关西地区方言中被人们亲切称之为“EBESSAN”的“恵比寿”既是商业之神，也是渔业之神。财神节上代表买卖兴隆的饰物“福竹”，人们都喜欢把它带回家，“福竹”上饰有小金币、加吉鱼、米袋等大量喜庆物品。</a>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>