<ion-view id="tour-view">
        <ion-slide-box show-pager="true" on-slide-changed="onSlideChanged()">
            <ion-slide class="slide_img">
                    <img src="images/ydy1.jpg">
            </ion-slide>
            <ion-slide class="slide_img">
                <img src="images/ydy2.jpg">
            </ion-slide>
            <ion-slide class="slide_img">
                <img src="images/ydy4.jpg">
            </ion-slide>
            <ion-slide class="slide_img">
                    <div class="button come" ui-sref="spreads.tabs.home" ng-if="isShow">创建新尝试</div>
                <img src="images/ydy3.jpg">
            </ion-slide>
        </ion-slide-box>
</ion-view>
