<ion-view view-title="我的">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="getNight()"></button>
    </ion-nav-buttons>
    <ion-content>
        <img src="images/my.png" class="image">
        <div class="list card full-list">
            
            <a ui-sref="spreads.tabs.home" class="item item-icon-left">
                <i class="icon ion-star"></i>
                会员俱乐部
                <span class="item-note">
                    活动权益
                </span>
            </a>

            <a ui-sref="spreads.tabs.home" class="item item-icon-left">
                <i class="icon ion-ios-pricetags-outline"></i>
               优惠券
                <span class="badge badge-assertive">10</span>
            </a>

            <a ui-sref="spreads.tabs.home" class="item item-icon-left">
                 <i class="icon ion-ios-box"></i>
             我的小金库
                <span class="item-note">
                   首付出发 旅游券
                </span>
            </a>

            <a ui-sref="spreads.tabs.home" class="item item-icon-left">
                <i class="icon ion-card"></i>
               活动
            </a>
            <a ui-sref="spreads.tabs.home" class="item item-icon-left">
                <i class="icon ion-ios-people-outline"></i>
                行程助手
            </a>
            <a ui-sref="spreads.tabs.home" class="item item-icon-left">
                <i class="icon ion-radio-waves"></i>
               我的无线
                <span class="item-note">
                    出境wifi
                </span>
            </a>
            <a ui-sref="spreads.tabs.home" class="item item-icon-left">
                <i class="icon ion-locked"></i>
                资料管家
                <span class="item-note">
                   个人资料
                </span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-person-stalker"></i>
                社区
                <span class="item-note">
                    帖子 照片
                </span>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-heart"></i>
                专属顾问
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-compass"></i>
                服务提醒
            </a>

        </div>
    </ion-content>
</ion-view>