<ion-view id="home" view-title="欢迎来到旅游网">
       <ion-nav-buttons side="left">
           <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="getNight()"></button>
       </ion-nav-buttons>

    <ion-content class="" id="lunbo">
        <div class="list" style="margin-bottom: 0">
            <div class="item item-input-inset" style="border-width:0;">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="请输入要搜索的关键字..."/>
                </label>
                <button class="button button-stable button-small">确定</button>
            </div>
        </div>
        <img src="images/hb.jpg" id="hb">
        <div class="button-bar" id="daohang">
            <a class="button button-icon icon ion-ios-pulse"></a>
            <a class="button button-icon icon ion-ios-cart"></a>
            <a class="button button-icon icon ion-ios-analytics"></a>
            <a class="button button-icon icon ion-ios-filing-outline"></a>
            <a class="button button-icon icon ion-ios-paperplane"></a>
        </div>
        <div class="button-bar" id="daohang1">
            <a class="button button-icon icon ion-ios-eye-outline"></a>
            <a class="button button-icon icon ion-ios-briefcase-outline"></a>
            <a class="button button-icon icon ion-ios-medkit-outline"></a>
            <a class="button button-icon icon ion-ios-game-controller-b-outline"></a>
            <a class="button button-icon icon ion-settings"></a>
        </div>


        <div class="list padding" style="margin-top: 10px">
            <div class="item item-button-left">
                <button class="button">
                    <i class="icon ion-model-s"></i>
                </button>
                定制游   <button class="button">
                <i class="icon ion-model-s"></i>
            </button>
                &nbsp; &nbsp;机票+酒店<button class="button">
                <i class="icon ion-model-s"></i>
            </button>
                &nbsp; &nbsp;汽车票
                &nbsp; &nbsp;当地游
            </div>
        </div>
        <div class="list padding">
            <div class="item item-button-left">
                <button class="button">
                    <i class="icon ion-wifi"></i>
                </button>
                通信WIFI   <button class="button">
                <i class="icon ion-wifi"></i>
            </button>
                &nbsp; &nbsp;出行用车<button class="button">
                <i class="icon ion-wifi"></i>
            </button>
                &nbsp; &nbsp;周边游
                &nbsp; &nbsp;国内游
            </div>
        </div>

        <h5 style="padding-left: 10px;color: #16a43e;margin-bottom: 0">周边旅游景点推荐</h5>
        <div class="row text_center">
            <div class="col">
                <img src="images/zbly1.jpg" class="image" style="border-radius: 7px;">
                <p>长城</p>
            </div>
            <div class="col">
                <img src="images/zbly2.jpg" class="image" style="border-radius: 7px;">
                <p>桂林</p>
            </div>
            <div class="col">
                <img src="images/zbly3.jpg" class="image" style="border-radius: 7px;">
                <p>马尔代夫</p>
            </div>
        </div>

        <div class="button-bar lvyou">
            <a class="button button-energized" style="border-radius: 5px">周末好去处</a>
            <a class="button button-balanced" style="border-radius: 5px">祖国大好山河</a>
            <a class="button button-positive" style="border-radius: 5px">我身边</a>
        </div>
        <div class="button-bar lvyou">
        <a class="button">海岛·马代</a>
        <a class="button">东南亚·南亚</a>
        <a class="button">日本·韩国</a>
    </div>
        <div class="button-bar lvyou">
            <a class="button">欧洲·美洲</a>
            <a class="button">澳新中东非</a>
            <a class="button">港澳台</a>
        </div>



        <ion-list class="card" style="margin: 0">
            <ion-item class="item item-body">
                <img class="full-image" src="images/medf.jpg">
                <p style="margin-bottom: 5px">
                    马尔代夫梦幻岛Dhonveli4晚6日自助游>香港出发
                </p>
                <p style="margin-top: 0px">
                    <a href="#/spreads/tabs/xiangXi" class="subdued" style="font-size: 12px;">马尔代夫梦幻岛儿童入住4Beach Bungalow打包费（四晚）</a>
                </p>
            </ion-item>
            <ion-item class="item item-body">
                <img class="full-image" src="images/mg.jpg">
                <p style="margin-bottom: 5px">
                    曼谷-芭提雅5晚6日游>深航直飞，芭堤雅3晚五星私家沙滩度假村
                </p>
                <p style="margin-top: 0px">
                    <a href="#/spreads/tabs/xiangXi" class="subdued" style="font-size: 12px;">泰式炭烤海鲜自助晚餐 ，杜拉拉水上市场</a>
                </p>
            </ion-item>
            <ion-item class="item item-body">
                <img class="full-image" src="images/bld.jpg">
                <p style="margin-bottom: 5px">
                    巴厘岛-蓝梦岛4晚5日游>醉美蓝梦岛出海
                </p>
                <p style="margin-top: 0px">
                    <a href="#/spreads/tabs/xiangXi" class="subdued" style="font-size: 12px;">日落海滩骑马，敞篷吉普车游梯田，2晚国际五星酒店</a>
                </p>
            </ion-item>
            <ion-item class="item item-body">
                <img class="full-image" src="images/db.jpg">
                <p style="margin-bottom: 5px">
                    大阪-京都-箱根-东京6日游>暑期亲子
                </p>
                <p style="margin-top: 0px">
                    <a href="#/spreads/tabs/xiangXi" class="subdued" style="font-size: 12px;">自选大阪环球影城+樱桃小丸子乐园+有马温泉街+三保松原</a>
                </p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>

