<ion-view view-title="特价推荐">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="getNight()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <a class="item item-thumbnail-left">
                <img ng-src="images/mdd10.jpg">
                <h2>Dusit Thani4晚6日自助游</h2>
                <p>马尔代夫都喜天阙岛</p>
                <p>$848</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/mdd9.jpg">
                <h2>行程中标准用餐，4晚5天住宿</h2>
                <p>塞班岛一地5日游</p>
                <p>$369</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/mdd11.jpg">
                <h2>四晚海边国际五星酒店 鲨鱼湾探险</h2>
                <p>巴厘岛4晚5日游</p>
                <p>$6005</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/mdd12.jpg">
                <h2>毛里求斯5晚8日半自助游</h2>
                <p>喜达屋艾美、威斯汀双重体验，全程中文服务</p>
                <p>$7556</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/mdd8.jpg">
                <h2>英比法瑞意15日游</h2>
                <p>欧洲之星，剑桥牛津，温莎古堡，铁力士，双宫，双游船</p>
                <p>$8888</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/mdd5.jpg">
                <h2>日本东京-富士山4晚5日游</h2>
                <p>东京1天自由 四晚连住 花之都 日式料理 香港航空 深度游</p>
                <p>$658</p>
            </a>
            <a class="item item-thumbnail-left">
                <img src="images/mdd6.jpg">
                <h2>首尔一地5日休闲游</h2>
                <p>全程五花特一GLAD大酒店 地铁十分钟到达明洞 </p>
                <p>$7885</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>