<ion-view view-title="关于我们">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="getNight()"></button>
        </ion-nav-buttons>
    <ion-content class="">
        <div class="list">

            <a class="item item-icon-left">
                <i class="icon ion-email"></i>
               发送邮件:888888@qq.com
            </a>

            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-chatbubble-working"></i>
                400-888-888
                <i class="icon ion-ios-telephone-outline"></i>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-mic-a"></i>
                语音我们
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-person-stalker"></i>
                加入我们
               <span class="item-note">
                 查看招聘
             </span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-browsers"></i>
                版本号:ddaf481
            </a>
        </div>
    </ion-content>
</ion-view>